@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: helvetica;
    src: url(./fonts/Helvetica.ttf);
}

@font-face {
    font-family: axiforma;
    src: url(./fonts/Kastelov\ \ Axiforma\ Black.otf);
}
