@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: helvetica;
    src: url(./fonts/Helvetica.ttf);
}

@font-face {
    font-family: axiforma;
    src: url(./fonts/Kastelov\ \ Axiforma\ Black.otf);
}

@layer base {
    body {
        @apply bg-primary text-background font-bodyContent;
    }

    h1 {
        @apply text-3xl lg:text-4xl xl:text-5xl font-heading font-bold;
    }

    h2 {
        @apply text-2xl lg:text-3xl xl:text-4xl font-heading font-bold;
    }

    h3 {
        @apply text-xl lg:text-2xl xl:text-3xl font-heading font-bold;
    }

    h4 {
        @apply text-xl font-heading;
    }

    p {
        @apply text-lg;
    }

    span {
        @apply text-secondary;
    }
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #00ffff;
    border-radius: 1rem;
    background-clip: content-box;
}
